<section class="bg-white border rounded shadow-sm pt-3 px-4 pb-2 mb-5">
											<h2 class="h2 font-weight-bold mb-3">{{ title }}</h2>
					
											<div class="entry-content">
                                                                  
{{ content }}

</div>
									</section>